<section style="padding-top: 140px; " id="feature" class="about">
    <div style="box-shadow:  0 0 5px 5px grey; border-radius: 4px solid rgba(0, 238, 52, 0.925); height: 400px;" class="container">

        <div class="row justify-content-end">


            <div style="display: flex;
        justify-content: center; align-items: center; padding-top: 40px;" class="col-lg-6 video-box align-self-baseline position-relative">
                <img style="  border-radius: 12px;  width:500px; height: 320px; " src="https://images.nationalgeographic.org/image/upload/t_edhub_resource_key_image/v1638892233/EducationHub/photos/crops-growing-in-thailand.jpg" class="img-fluid" alt="">

            </div>

            <div style="padding-top: 50px; justify-content: center;" class="col-lg-6">

                <h3 style="color:#9cc049">View Crops</h3>
                <!-- <p class="fst-italic">
                    click and view all the crops listed by our farmers and visit their location and buy the crops
                </p> -->
                <h5 style="color:#9cc049"><strong>Click here to View the Crops </strong></h5>
                <!-- <button style="background-color:rgb(73, 192, 73); color: white; height: 50px; width: 150px; border-radius: 20px; border: none;"> <input type="Submit"; >View Crops</button> -->

                <button routerLink="/Viewcrops" style="background-color:rgb(160, 192, 73); color:white;" class="btn  btn-lg" type="button">View Crops</button>
                <p>

                </p>
            </div>

        </div>

    </div>
</section>
<section style="padding-top: 140px; " id="feature" class="about">
    <div style="box-shadow:  0 0 5px 5px grey; border-radius: 4px solid rgba(0, 238, 52, 0.925); height: 400px;" class="container">

        <div class="row justify-content-end">


            <div style="display: flex;
            justify-content: center; align-items: center; padding-top: 40px;" class="col-lg-6 video-box align-self-baseline position-relative">
                <img style="  border-radius: 12px;  width:500px; height: 350px; " src="/assets/img/payment.png" class="img-fluid" alt="">

            </div>

            <div style="padding-top: 50px; justify-content: center;" class="col-lg-6">

                <h3 style="color:#9cc049">View Invoice</h3>
                <!-- <p class="fst-italic">
                    To View the Invoices generated
                </p> -->
                <h5 style="color:#9cc049"><strong>Click here to View Invoice</strong></h5>
                <!-- <button style="background-color:rgb(73, 192, 73); color: white; height: 50px; width: 150px; border-radius: 20px; border: none;"> <input type="Submit"; >View Crops</button> -->

                <button routerLink="/Invoice" style="background-color:rgb(160, 192, 73); color:white;" class="btn  btn-lg" type="button">View Invoice</button>
                <p>

                </p>
            </div>

        </div>

    </div>
</section>
<section style="padding-top: 140px; " id="feature" class="about">
    <div style="box-shadow:  0 0 5px 5px grey; border-radius: 4px solid rgba(0, 238, 52, 0.925); height: 400px;" class="container">

        <div class="row justify-content-end">


            <div style="display: flex;
                justify-content: center; align-items: center; padding-top: 40px;" class="col-lg-6 video-box align-self-baseline position-relative">
                <img style="  border-radius: 12px;  width:500px; height: 350px; width: 400px;" src="/assets/img/editprofile.jpg" class="img-fluid" alt="">

            </div>

            <div style="padding-top: 50px; justify-content: center;" class="col-lg-6">

                <h3 style="color:#9cc049">Update Profile</h3>
                <!-- <p class="fst-italic">
                    To Edit the Profile
                </p> -->
                <h5 style="color:#9cc049"><strong>Click here to Update your Profile</strong></h5>
                <!-- <button style="background-color:rgb(73, 192, 73); color: white; height: 50px; width: 150px; border-radius: 20px; border: none;"> <input type="Submit"; >View Crops</button> -->

                <button routerLink="/Updateprofile" style="background-color:rgb(160, 192, 73); color:white;" class="btn  btn-lg" type="button">Update Profile</button>
                <p>

                </p>
            </div>

        </div>

    </div>
</section>
<section>

</section>